
.ci {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

}
.ci-check {
    -webkit-transform: scaleX(-1) rotate(-35deg);
    transform: scaleX(-1) rotate(-35deg);
    font-family: arial;
}
.ci-circle-filled {
    width: calc(.7em + 2px);
    height: calc(.7em + 2px);
    background-color: $yellow;
    border-radius: 50%;
}
.ci-circle-outline {
    width: .7em;
    height:.7em;
    border:2px solid $yellow;
    border-radius: 50%;
}

%ci-arrow-common {
    border: .5em solid transparent;
}

.ci-arrow-left-filled {
    @extend %ci-arrow-common;
    border-right: .5em solid $yellow;
    margin-left: -8px;
}
.ci-arrow-right-filled {
    @extend %ci-arrow-common;
    border-left: .5em solid $yellow;
    margin-right: -8px;
}
.ci-arrow-up-filled {
    @extend %ci-arrow-common;
    border-bottom: .5em solid $yellow;
    margin-top: -8px;
}
.ci-arrow-down-filled {
    @extend %ci-arrow-common;
    border-top: .5em solid $yellow;
    margin-bottom: -8px;
}
.ci-plus {
    color:$yellow;
}
.ci-cross {
    border: 2px solid $yellow;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.25em;
    position: relative;
    font-family: arial;
}
.ci-alert {
    position: relative;
    width: .051em;
    height: .051em;
    border: .6em solid transparent;
    border-bottom: 1em solid;
    top: -9px;
    border-radius: 5px;
    &::after{
        content: "!";
        position: absolute;
        color: #444;
        font-size: .8em;
        left: -3px;
        top: 5px;

    }
}



.ci-long-right-arrow {
    display:inline-block;
    width:1em;
    height:0.2em;
    background-color:$yellow;
    position:relative;
    &:after {
        content:"";
        border:0.3em solid transparent;
        border-left:0.3em solid $yellow;
        position:absolute;
        left:100%;
        top:50%;
        transform:translateY(-50%);
      }
}

.ci-long-left-arrow {
    display:inline-block;
    width:1em;
    height:0.2em;
    background-color:$yellow;
    position:relative;
    &:before {
        content:"";
        border:0.3em solid transparent;
        border-right:0.3em solid $yellow;
        position:absolute;
        right:100%;
        top:50%;
        transform:translateY(-50%);
      }
}

.ci-long-top-arrow {
    display:inline-block;
    width:0.2em;
    height:1em;
    background-color:$yellow;
    position:relative;
    &:before {
        content:"";
        border:0.3em solid transparent;
        border-bottom:0.3em solid $yellow;
        position:absolute;
        left:50%;
        bottom:100%;
        transform:translateX(-50%);
      }
}

.ci-long-bottom-arrow {
    display:inline-block;
    width:0.2em;
    height:1em;
    background-color:$yellow;
    position:relative;
    &:before {
        content:"";
        border:0.3em solid transparent;
        border-top:0.3em solid $yellow;
        position:absolute;
        left:50%;
        top:100%;
        transform:translateX(-50%);
      }
}